@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap");

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", Arial, sans-serif;
}
h1 {
  font-size: 2.3rem;
}

/*header section */
header {
  position: relative;
  display: flex;
  margin-bottom: 1rem;
}

header p {
  line-height: 1.5;
}

#profile-picture {
  max-width: 550px;
}

#profile-picture-container {
  position: relative;
}

.cat-name-container {
  font-size: 3.1rem;
  color: white;
  position: absolute;
  left: 5%;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8), 0 0 10px rgba(0, 0, 0, 0.5);
  top: 90%;
}

header .icon {
  width: 2rem;
}

.header-background {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  background-color: #a8b5a2;
  clip-path: polygon(0 0, 100% 0, 100% 40%, 0 100%);
}
.header-wrapper {
  display: flex;
  position: relative;
  padding: 5rem;
  z-index: 2;
}
.about-me-section {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
  font-size: 1.375rem;
  padding: 1.5rem;
  padding-left: 1.5rem;
  margin-top: 3.5rem;
  margin-bottom: 3.5rem;
}

.about-me-section h1 {
  margin-bottom: 0;
}

.about-me-section p {
  margin-top: 0;
}
#about-me-footer {
  background-color: white;
  display: flex;
  gap: 1.5rem;
  justify-content: flex-end;
}

/*main section*/
main {
  padding: 6rem;
  margin-bottom: 3rem;
}

main .icon {
  width: 1.7rem;
}

.card-header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-right: 1rem;
}

.card-text-wrapper {
  padding: 1rem;
}
.project-card p {
  font-size: 1.2rem;
}
.external-links-container {
  display: flex;
  gap: 1rem;
}

.screenshot {
  width: 100%;
}
.cards-section {
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  grid-template-rows: repeat(auto-fit, minmax(200px, 1fr));
}
.project-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

/* footer section */

#page-footer {
  display: flex;
  background-color: #a8b5a2;
  padding: 5rem;
  justify-content: center;
}

.footer-wrapper nav {
  display: flex;
  gap: 1.5rem;
}

.contact-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 2rem;
  font-size: 1.375rem;
}
.contact-wrapper h1 {
  margin-top: 0;
}
.contact-info-wrapper {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
.contact-info-wrapper div {
  display: flex;
  gap: 0.5rem;
}

.contact-info-wrapper p {
  margin: 0.5rem;
  max-width: 100%;
}

.contact-me-section {
  max-width: 550px;
}

#contact-picture {
  max-width: 850px;
  min-height: 550px;
}

.contact-me-section .icon {
  width: 2.3rem;
}

.contact-icon {
  width: 1.5rem;
}

/* Phone */
@media (max-width: 767px) {
  .header-background {
    bottom: 63%;
  }
  .about-me-section {
    padding: 0;
    font-size: 1.2rem;
    align-items: center;
    box-shadow: none;
    margin-top: 1.7rem;
  }
  .about-me-section h1 {
    margin-top: 0;
    margin-bottom: 0.8rem;
  }
  .header-wrapper {
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
  }
  .about-me-section p {
    text-align: center;
  }

  #page-footer {
    padding: 0;
    display: flex;
    flex-direction: column;
  }
  #contact-picture {
    width: 100%;
    min-height: 550px;
    padding: 0;
    object-fit: cover;
  }
  .footer-wrapper nav {
    justify-content: center;
    margin-bottom: 1rem;
  }
  .cat-name-container {
    font-size: 2.95rem;
    top: 74%;
  }

  .footer-wrapper {
    padding: 2rem;
  }
  #profile-picture {
    max-width: 310px;
  }

  .project-card p {
    font-size: 1.1rem;
  }

  main {
    padding: 2rem;
  }
  main h1 {
    text-align: center;
  }
  .screenshot {
    max-width: 350px;
  }
  .cards-section {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  }
}

/* Tablets*/
@media (min-width: 768px) and (max-width: 1024px) {
  .header-background {
    bottom: 40%;
  }
  .about-me-section p {
    margin: auto;
  }

  .about-me-section {
    margin-left: 60px;
    display: block;
  }

  .about-me-section h1 {
    text-align: center;
    padding-left: 120px;
    margin-bottom: 20px;
  }

  #profile-picture {
    max-width: 350px;
  }

  #profile-picture-container {
    max-width: 350px;
    float: left;
  }

  #contact-picture {
    max-width: 350px;
    object-fit: cover;
  }
  #page-footer {
    gap: 3rem;
  }
  main {
    padding: 2.5rem;
  }

  .cards-section {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  }
  .header-wrapper {
    display: block;
    padding: 2rem;
  }
  .cat-name-container {
    width: max-content;
    font-size: 2.9rem;
    left: 75%;
    top: 3%;
  }
}
